body {
  background-color: #3B3B3B !important;
}


.master {
  width: 30%;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
}

img {
  width: 100%; 
  height: auto; 
  /* display: block;  */
}

.form-invite
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family:  Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    /* font-family: 'Lucida Calligraphy', cursive; */
    font-weight: lighter;

}

.form-container
{
  position: relative;
  
}

button{
  font-weight: bold !important;

}

@media screen and (max-width: 281px) {
  /* CSS properties to change when width is less than 1000px */
  .form-invite {
    font-size: 10px;
  }
}

@media screen and (max-width: 430px) {
  /* CSS properties to change when width is less than 1000px */
  .form-invite {
    font-size: 14px;
  }
}


@media screen and (max-width: 1024px) {
  /* CSS properties to change when width is less than 1000px */
  .master {
    width: 100%; /* Set width to 100% for mobile view */
    margin-top: 0px;
    overflow-y: hidden; /* Hide vertical scrollbar */
  }

  .form-invite btn{
    font-weight: bold;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .form-invite {
    font-size: 20px;
  }
}



@media screen and (min-width: 1010px) and (max-width: 1700) {

  .form-invite {
    font-size: 10px;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2499px)  {

  .form-invite {
    font-size: 18px;
  }
}

@media screen and (min-width: 2500px)  {

  .form-invite {
    font-size: 20px;
  }
}

/* Ipad pro  */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
  .form-invite {
    font-size: 30px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
  .master {
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
  }

  .form-invite {
    font-size: 20px;
  }
}

/* Ipad Mini */

@media only screen and (width:1024px) and (resolution: 163dpi) {
  .form-invite {
    font-size: 15px;
  }

}






